<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">  Doc Index</a>
  <div class="nav-content">
    <ul>
      <li>
        <a href="/docs/600/homenav.html">Greenplum Database Docs Home</a>
      </li>
      <li class="has_submenu">
        <a href="/docs/600/catalog-fix/process.html">Fixing Problems with Greenplum System Catalogs</a>
        <ul>
          <li>
            <a href="/docs/600/catalog-fix/duplicate-entries.html" format="markdown">Removing Duplicate Entries</a>
          </li>
          <li>
            <a href="/docs/600/catalog-fix/missing-entries.html" format="markdown">Restoring Missing Entries</a>
          </li>
          <li>
            <a href="/docs/600/catalog-fix/extraneous-entries.html" format="markdown">Removing Extraneous Entries</a>
          </li>
          <li>
            <a href="/docs/600/catalog-fix/dependency-errors.html" format="markdown">Fixing Dependency Errors</a>
          </li>
          <li>
            <a href="/docs/600/catalog-fix/persistent-tables.html" format="markdown">Rebuilding Persistent Tables</a>
          </li>
        </ul>
    </li>
    </ul>
  </div>
</div>
<!--end of sub-nav-->
